---
import { SITE_TITLE } from '../config';
---

<header class="text-black space-y-4 pt-4 pb-12">
  <img src="/uuuuuno.jpg" class="rounded-full h-32 mx-auto" alt="" />
  <h2 class="text-2xl text-center md:text-3xl font-bold">Maxim Kuznetsov uuuuuno</h2>
  <p class="text-center text-2xl text-zinc-700">The blog description :)</p>
  <nav class="flex justify-center gap-2">
    <a href="mailto:mail@uuuu.uno" class="block rounded-full h-10 w-10">
      <img src="/gmail.svg" alt="" />
    </a>
    <a href="https://t.me/uuuuuno" class="block rounded-full h-10 w-10">
      <img src="/telegram.svg" alt="" />
    </a>
    <a href="https://github.com/uuuuuno" class="block rounded-full h-10 w-10">
      <img src="/github.svg" alt="" />
    </a>
  </nav>
</header>
